# dependencies
node_modules

# builds
dist
build

# env
.env
.env.local
.env.*.local
!.env.example


# logs
*.log
npm-debug.log*
pnpm-debug.log*

# test output
coverage

# os / editor
.DS_Store
.vscode
.idea